 body {
            height: 100vh;
            margin: 0;
            background-color: #eee;
        }

        .container {
            display: grid;
            height: 100vh;
            align-content: center;
            margin: 0px 20px;
        }

        .heading {
            font-size: 42px;
            font-weight: 600;
            text-align: center;
            padding-bottom: 40px;
            margin-bottom: 60px;
        }

        section div {
            border-radius: 10px;
        }

        section div img {
            width: 100%;
            border-radius: 10px;
        }

        .focus {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
                'item1 item1 item2 item3 item4 item5'
                'item1 item1 item6 item7 item8 item9'
            ;
            gap: 15px;
        }

        .item1 {
            grid-area: item1;
        }

        .item2 {
            grid-area: item2;
        }

        .item3 {
            grid-area: item3;
        }

        .item4 {
            grid-area: item4;
        }

        .item5 {
            grid-area: item5;
        }

        .item6 {
            grid-area: item6;
        }

        .item7 {
            grid-area: item7;
        }

        .item8 {
            grid-area: item8;
        }

        .item9 {
            grid-area: item9;
        }

        /* Tablet layout 01 */
        @media (min-width: 768px) and (max-width: 1024px) {
            .container {
                align-content: start;
            }

            .focus {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    'item1 item1 item2'
                    'item1 item1 item3'
                    'item4 item5 item6'
                    'item7 item8 item9'
                ;
                gap: 15px;
            }
        }

        /* Mobile Layou 02 */
        @media (max-width: 767px) {
            .container {
                align-content: start;
            }

            .focus {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                    'item1 item1'
                    'item1 item1'
                    'item2 item3'
                    'item4 item5'
                    'item6 item7'
                    'item8 item9'
                ;
                gap: 15px;
            }
        }
